li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #46BCDF;
}

nav {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    color: #333 !important;
    background-color: white;
    position: fixed;
    width: 95vw;
    top: 0;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.68);

    #avatarimg {
        width: 53px;
        border-radius: 50%;
    }

    ul,
    a {
        display: flex;
        align-items: center;
        gap: 15px;

    }

    ul {
        padding: 0;
        margin: 0;
    }

    .nav-link {
        padding: 2.2rem 1rem;
    }

}

header {
    padding-top: 89px;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 25px;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
}

.base {
    text-align: center;
    color: #333;
    font-size: 25px;
    text-align: center;
    width: 100%
}

#boutounUn {
    padding: 9px;
    font-size: 26px;
    background: #736767;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    width: 25%;
    box-shadow: 0 10px 100px rgba(28, 28, 28, 0.63);
}

.dividedHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 35px;
}

.rs {
    background-color: #736767;
    display: flex;
    flex-direction: column;
    height: 75px;
    padding: 20px;
}
.partiDeux {
    padding: 11rem 0;
    background: #dfdddd;
}
.titreDeux {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
}
.titreTrois {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
h3 {
    font-size: 1.8rem;
    margin-left: 26px;
}
.presentation {
    font-size: 19px;
    color: #423f3b;
    margin-left: 26px;
    
}
.competences{
    padding: 10px 0 10px;
    background-color: #736767;
    border-radius: 5px;
   width: 20%;
   text-align: center;
    margin: 10px;
}
.enfant {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
align-items: flex-start;
}
.comp {
    width: 50%;
}
.compWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}
.test{
    width: 50%;
}
#boutonDeux {
    padding: 7px;
    font-size: 19px;
    margin-left: 25px;
    padding: 6px;
    font-size: 16px;
    background: #736767;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    width: 25%;
    box-shadow: 0 10px 100px rgba(28, 28, 28, 0.63);
  }
.projet {
    text-align: center;
    padding: 118px;
}
.proj {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
}
.image {
   width: 554px;
}
#para {
    font-size: 19px;
    color: #666;
}

.contact {
    text-align: center;
    padding: 118px;
}
.cont {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
}
.orga {
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    background: white;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: left;
    width: 95%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}
.type {
    color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  
}
form {
    display: flex;
    flex-direction: column;
}
#finalite {
    width: 21%;
    padding: 18px;
    font-size: 20px;
    background: #736767;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    width: 25%;
    box-shadow: 0 10px 100px rgba(48, 48, 48, 0.42);
}

footer {
    background: #000;
    color: #fff;
}
.fin {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}
.foot {
    margin-left: 50px;
    padding: 0px 20px;
}
.finDeux {
    margin-right: 50px;
}
h4 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#unique {
    color: #eee;
}
.reseau{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 0;
}
#solo {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 12px;
    text-align: left;
    text-align: center;
}
.divided {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
#photo {
    padding: 10px;
    font-size: 12px;
    background: #736767;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    width: 25%;
    box-shadow: 0 10px 100px rgba(28, 28, 28, 0.63);
}
